
//Animated fields
#page-content {
    overflow: hidden !important;

    width: 100%;

    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.contentWrap {
    @extend #page-content;

    width: 95%;
    float: none !important;
}

//Our dates
.date {

    font-size: 16px;
}

.button {
    color: $standard;
}

.commentLabel {

    font-size: 24px;
    font-weight: bolder;
}

.commentBox {

    height: 250px;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
}

//Center class
.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.unityGame {
    @extend .center;

    width: 100%;
    height: 900px;
    border: none !important;
}
