
//Animated fields
#page-content {
    overflow: hidden !important;

    width: 100%;

    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;

    padding: 10px !important;
}

.contentWrap {
    @extend #page-content;

    width: 95%;
    float: none !important;
    box-shadow: 0px 1px 7px 1px $borderShadows;
}

//Our page Logo/header
#page-logo {

    display: inline;
    text-align: left;
    padding-left: 20px;
    float: left;
    width: 500px;
}

//Our navbar
.menu-navbar-container {

    display: flex;
    justify-content: flex-end;
    margin-left: 500px;
    margin-right: 20px;

    .menu {

        li {
            font-weight: lighter;
            text-align: center;
            padding: 10px 10px !important;
        }
    }
}

//Different navbar for mobile/tablets

@media (max-width: 1000px) {

    //Our page Logo/header
    #page-logo {

        display: block;
        text-align:center;
        padding-left: none;
        width: 100%;
    }

    //Our navbar
    .menu-navbar-container {

        display: flex;
        width: 100%;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
}

//Our dates
.date {

    font-size: 16px;
}

.button {
    color: $standard;
}

.commentLabel {

    font-size: 24px;
    font-weight: bolder;
}

.screenShot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}


//Trailer For Desktop
.trailerVideo {

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;

    a {
        display: none;
        text-align: center;
        width: 100%;
        font-size: 26px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
        font-weight: bold;
    }

    iframe {
        display: block;
        margin-left: auto;
        margin-right: auto;

        width: 75% !important;
        height: 550px !important;
    }
}

//Trailers for mobile, switch iframe for link
@media (max-width: 599px) {

    .trailerVideo {

        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;

        a {
            display: block;
            text-align: center;
            width: 100%;
            font-size: 26px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 15px;
            font-weight: bold;
        }

        iframe {
            display: none;
            margin-left: auto;
            margin-right: auto;

            width: 75% !important;
            height: 380px !important;
        }
    }
}

.commentBox {

    height: 250px;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
}

//Center class
.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.unityGame {
    @extend .center;

    width: 100%;
    height: 900px;
    border: none !important;
}
