/* ==========================================================================
	Variables
/* ========================================================================== */
/* Directories */
$theme_dir: '/<%= conf.get('contentDir') %>/themes/<%= conf.get('themeDir') %>/';
$images_dir: '/<%= conf.get('contentDir') %>/themes/<%= conf.get('themeDir') %>/images/';

/* Colors */
$textColor: #ffffff;
$color_link: #5a83cd;
$borderShadows: #313131;
$bodyBg: #ffffff;
$containerBg: #313131;
$sidebarBg: #5a5a5a;
$oldBrowserBgStart: #7352e6;
$oldBrowserBgEnd: #4129b4;

/* Font Sizes */
$size_base: 1em;
