/* ==========================================================================
	Variables
/* ========================================================================== */

//Pokemon Styles
//http://pokepalettes.com/#hydreigon
//http://pokepalettes.com/#chandelure

/* Directories */
$theme_dir: '/<%= conf.get('contentDir') %>/themes/<%= conf.get('themeDir') %>/';
$images_dir: '/<%= conf.get('contentDir') %>/themes/<%= conf.get('themeDir') %>/images/';

/* Colors */
$standard: #313131;
$twilight: #5a5a5a;
$inverseStandard: #f2f2f2;
$inverse: #ffffff;
$linkColor: #4a7bb4;
$linkHover: #4a9cee;

//Style default variables
$bodyBg: $inverse;
$containerBg: $inverseStandard;
$textColor: $standard;
$borderShadows: $standard;
$sidebarBg: $twilight;
$oldBrowserBgStart: #7352e6;
$oldBrowserBgEnd: #4129b4;
$color_link: $linkColor;

/* Font Sizes */
$size_base: 1em;

//Media Qurie size
$mediaSize: 1530px;
