/* ==========================================================================
	Variables
/* ========================================================================== */
/* Directories */
$theme_dir: '/<%= conf.get('contentDir') %>/themes/<%= conf.get('themeDir') %>/';
$images_dir: '/<%= conf.get('contentDir') %>/themes/<%= conf.get('themeDir') %>/images/';

/* Colors */
$color_body_copy: #deeee6;
$color_link: #629452;
$color_opposite: #83a4de;
$borderShadows: #444;
$bodyBg: #debd8b;
$buttonText: #b49c7b;
$sidebarBg: #83a4de;
$oldBrowserBgStart: #83a4de;
$oldBrowserBgEnd: #5a83c5;

/* Font Sizes */
$size_base: 1em;
