
/*********************************
*
*
    General Fields / Page layout
*
*
*********************************/
.contentWrap {

    @extend .animated;
    @extend .fadeIn;
}

#page-content {

    overflow: hidden !important;
    width: 100%;

    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;

    padding: 0px !important;
}

.contentWrap {
    @extend #page-content;

    padding: 15px !important;
    width: 80%;
    float: none !important;
    box-shadow: 0px 1px 7px 1px $borderShadows;
}

//Our page Logo/header
#page-header {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px !important;
}

//Different Layout for mobile
@media (max-width: $mediaSize) {

    .contentWrap {
        overflow: hidden !important;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;

        padding: 15px !important;

        width: 95%;
        float: none !important;
        box-shadow: 0px 1px 7px 1px $borderShadows;
    }

    //Our page Logo/header
    #page-header {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        padding: 0px !important;
    }
}

@media (min-width: $mediaSize) {

    #page-footer {
        margin-left: 10% !important;
    }
}

#page-logo {

    display: inline;
    text-align: left;
    padding-left: 20px;
    float: left;
    width: 630px;
    color: $standard;

    a {
        color: $standard;

        &:hover {
            color: $linkHover;
        }
    }
}

//Our navbar
.menu-navbar-container {

    display: flex;
    justify-content: flex-end;
    margin-left: 500px;
    margin-right: 20px;
    margin-top: 12px;

    a {
        color: $standard;
        font-size:  unquote(($baseFont * 2.239) + 'px');

        &:hover {
            color: $linkHover;
        }
    }

    .menu {
        margin-top: 10px;

        li {
            font-weight: lighter;
            font-size:  unquote(($baseFont * 2.239) + 'px');
            text-align: center;
            padding-top: 10px !important;
            padding-bottom: 10px !important;
            padding-left: 0px !important;
            padding-right: 0px !important;
            width: 85px !important;
        }
    }
}

//Different navbar for mobile/tablets
@media (max-width: $mediaSize) {

    //Our page Logo/header
    #page-logo {

        display: block;
        text-align:center;
        padding-left: 0px;
        width: 100%;
        margin-bottom: 0px !important;
    }

    //Our navbar
    .menu-navbar-container {

        display: flex;
        width: 100%;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;

        .menu {

            margin-top: 0px;
            margin-bottom: 10px;
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}

@media (max-width: 565px) {

    //Our page Logo/header
    #page-logo {

        display: block;
        text-align:center;
        padding-left: 0px;
        width: 100%;
        margin-bottom: 0px !important;
    }

    //Our navbar
    .menu-navbar-container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;

        .menu {
            margin-top: 0px;
            margin-bottom: 10px;
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}


.error {
    text-align: center;
}


.errorImage {

    width: 80%;
    margin-left: auto;
    margin-right: auto;

    img {

        border-radius: 5px;
        width: 100%;
    }
}
