
/*********************************
*
*
    General Fields / Page layout
*
*
*********************************/
.contentWrap {

    @extend .animated;
    @extend .fadeIn;
}

#page-content {

    overflow: hidden !important;
    width: 100%;

    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;

    padding: 10px 25px!important;
}

.contentWrap {
    @extend #page-content;

    width: 80%;
    float: none !important;
    box-shadow: 0px 1px 7px 1px $borderShadows;
}

//Our page Logo/header
#page-header {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: none !important;
}

//Different Layout for mobile
@media (max-width: $mediaSize) {

    .contentWrap {
        overflow: hidden !important;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;

        padding: 10px 25px!important;

        width: 95%;
        float: none !important;
        box-shadow: 0px 1px 7px 1px $borderShadows;
    }

    //Our page Logo/header
    #page-header {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        padding: none !important;
    }
}

@media (min-width: $mediaSize) {

    #page-footer {
        margin-left: 10% !important;
    }
}

#page-logo {

    display: inline;
    text-align: left;
    padding-left: 20px;
    float: left;
    width: 630px;
}

//Our navbar
.menu-navbar-container {

    display: flex;
    justify-content: flex-end;
    margin-left: 500px;
    margin-right: 20px;

    .menu {

        li {
            font-weight: lighter;
            text-align: center;
            padding: 10px 10px !important;
        }
    }
}

//Different navbar for mobile/tablets
@media (max-width: $mediaSize) {

    //Our page Logo/header
    #page-logo {

        display: block;
        text-align:center;
        padding-left: 0px;
        width: 100%;
    }

    //Our navbar
    .menu-navbar-container {

        display: flex;
        width: 100%;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 565px) {

    //Our page Logo/header

    //Our navbar
    .menu-navbar-container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        .menu {

            display: flex;
            width: 100%;
            flex-wrap: wrap;
            justify-content: center;

            li {
                width: 40%;
            }

        }
    }
}


.error {
    text-align: center;
}


.errorImage {

    width: 80%;
    margin-left: auto;
    margin-right: auto;

    img {

        border-radius: 5px;
        width: 100%;
    }
}
