/*********************************
*
*
    Specific Fields
*
*
*********************************/
.date {

    font-size: 12px;
}

.button {
    color: $standard;
}

.commentLabel {

    font-size: 16px;
    font-weight: bolder;
}

.screenShot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}


//Trailer For Desktop
.trailerVideo {

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;

    a {
        display: none;
        text-align: center;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
        font-weight: bold;
    }

    iframe {
        display: block;
        margin-left: auto;
        margin-right: auto;

        width: 75% !important;
        height: 550px !important;
    }
}

//Trailers for mobile, switch iframe for link
@media (max-width: 599px) {

    .trailerVideo {

        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;

        a {
            display: block;
            text-align: center;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 15px;
            font-weight: bold;
        }

        iframe {
            display: none;
            margin-left: auto;
            margin-right: auto;

            width: 75% !important;
            height: 380px !important;
        }
    }
}

.commentBox {

    height: 250px;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
}

//Center class
.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.unityGame {
    @extend .center;

    width: 100%;
    height: 900px;
    border: none !important;
}

.gameHeader {

    margin-bottom: 20px;

    img {
        max-width: 90%;
        max-height: 500px;
    }
}

.screenShotContainer {

    display: flex;
    justify-content: center;
    align-content: space-around;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;

    img {
        height: 100%;
        max-height: 400px;
        width: auto;
        object-fit: contain;
    }
}

//Screenshots for mobile/tablets
@media (max-width: 799px) {

    .screenShotContainer {

        display: flex;
        justify-content: center;
        align-content: space-around;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        flex-wrap: wrap;

        img {
            height: 100%;
            max-height: 400px;
            width: 100%;
            object-fit: contain;
        }
    }
}



/*********************************
*
*
    Transition Animations
*
*
*********************************/
a {

    font-weight: bolder;
    transition: color 0.5s;

    &:hover {
        transition: color 0.5s;
    }

    img {
        opacity: 1.0;
        transition: opacity 0.5s;

        &:hover {
            opacity: 0.9;
            transition: opacity 0.5s;
        }
    }
}

/*********************************
*
*
    Social Widgets
*
*
**********************************/

.socialWidget {
    display: block !important;
    margin-left: auto;
    margin-right: auto;
}

.twitter-timeline {

    @extend .socialWidget;
}

.githubWidget {

    @extend .socialWidget;
}
